/** Margin de 10px sur toutes les pages en version mobile **/
.conteneurGeneral {
  margin: 0 10px 0 10px;
  @media (min-width: $desktop) {
    margin: 0;
  }
}

/** Styles pour les lignes oranges décoratives **/
.ligneOrange {
  border: $orange 3px solid;
  margin: 20px 0;
  @media(min-width: $desktop) {
    display: block;
    margin: 0;
    width: 660px;
    &__droite {
      margin: 30px 0 30px auto;
    }
    &__gauche {
      margin: 30px auto 30px 0;
    }
  }

}

/** Styles pour les titres sur carré bleu **/
.carreBleu {
  background-color: $bleuFonce;
  color: white;
  width: 100%;
  display: flex;
  font-family: "Bebas Neue";
  font-size: 3rem;
  @media(min-width: $desktop) {
    font-size: 10rem;
    width: 500px;
    height: 400px;
  }

  &__texte {
    padding: 10px;
    margin: auto auto;
  }
}