// Menu Poste de Table
#en-tete .primary-menu {
  display: none;
  @media (min-width: $desktop) {
    display: flex;
    background-color: white;
    justify-content: center;
    padding: 0;
    width: 500px;
  }
}

#en-tete .primary-menu ul {
  list-style: none;
  margin: 10px 0 10px 10px;
  padding: 0;
}

#en-tete .primary-menu li {
  display: inline-block;
  margin-right: 10%;
}

#en-tete .primary-menu li a {
  color: black;
  text-decoration: none;

  &:hover {
    color: $bleuFonce;
  }

  &:active {
    color: $bleuFonce;
    text-decoration: underline;
  }
}

// Menu Mobile
#en-tete .mobile-menu {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 20px;
  text-align: center;
  @media (min-width: $desktop) {
    display: none;
  }
}

#en-tete .mobile-menu ul {
}

#en-tete .mobile-menu li {
  list-style-type: none;
  padding: 15px 0;
}

#en-tete .mobile-menu li a {
  text-decoration: none;
}

.current_page_item {
  text-decoration: underline;
}

.entete {
  background-color: $bleuFonce;
  border-bottom: $orange solid 5px;
  display: flex;
  padding: 8px 0;
  margin: 0;
  min-width: 100%;
  @media(min-width: $desktop) {
    padding: 20px 0;
    justify-content: center;
    align-items: end;
  }

  &__h1 {
    text-align: center;
    color: white;
    font-size: 22px;
    z-index: 10;
    margin: auto auto;
    @media (min-width: $desktop) {
      font-size: 36px;
      margin: 0;
    }
  }

  &__flex {
    display: flex;
    align-items: flex-end;
    @media (min-width: $desktop) {
      align-items: baseline;
    }

    &--item {
      justify-content: space-evenly;
      @media (min-width: $desktop) {
        flex-direction: row;
        justify-content: space-around;
      }
    }
  }

  &__ligneOrange {
    border: $orange 3px solid;
    margin: 0;
  }
}

.logoTim {
  display: none;
  @media (min-width: $desktop) {
    display: initial;
    width: 28px;
    height: 28px;
    margin-right: 5px;
  }

}

.logoCegep {
  display: none;
  @media (min-width: $desktop) {
    display: initial;
    width: 90px;
    height: 35px;
    margin-left: 30px;
  }

  &--mobile {
    width: 40%;
    display: flex;
    margin: 0 auto;
    padding: 20px 0;
  }
}

.hamburger {
  width: 42px;
  height: 42px;
  display: initial;
  margin: 0 20px 0 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  &:hover {
    cursor: pointer;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}

.close {
  width: 42px;
  height: 42px;
  display: initial;
  margin: 0 20px 0 10px;
  top: 0;
  left: 0;
  z-index: 1;

  &:hover {
    cursor: pointer;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}

#menuClose {
  visibility: hidden;
}

#menuHamburger {
  visibility: visible;
}

.conteneurMenu {
  position: relative;
}

#menuOuvert {
  visibility: hidden;
}

.menuOuvert {
  background-color: $bleuFonce;
  position: relative;
  height: 0;
  margin: 0;

  & a {
    color: white;
  }
}

.mobileMenuFlex {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: 0 auto;

  &__reseauxSociaux {
    padding: 20px 10px;
    width: 42px;
    height: 42px;
  }

  @media(min-width: $desktop) {
    display: none;
  }
}

.menuFlex {
  display: flex;
  flex-direction: row;
  justify-content: center;

  &__reseaux {
    display: none;
    @media(min-width: $desktop) {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 10%;
    }

  }
}

.reseauxSociaux {
  width: 32px;
  height: 32px;
}

/** IMAGES D'EN-TÊTE **/
.imageEntete {
  width: 100vw;
  @media(min-width: $desktop) {
    width: 100%;
  }
}
