/**
* @author Zachary Nicol-P. <1735193@cegep-ste-foy.qc.ca>
*/


.palette {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  &__item {
    flex: 1 1 100%;
    text-align: center;
    margin-right: 2em;
    &:last-child {
      margin-right: 0;
    }
  }
  &__couleur {
    padding-top: 70%;
    /* Complétez ici pour chacune des variations de couleurs
     * (Ex. .palette__couleur--bleuMoyen)
     * Utilisez & pour composer vos sélecteurs CSS selon l'approche BEM
     */
    &--bleuMoyen {
      background-color: $bleuMoyen;
      &-alpha75 {
        background-color: transparentize($bleuMoyen, 0.75);
      }
      &-alpha50 {
        background-color: transparentize($bleuMoyen, 0.5);
      }
    }
    &--bleuPale {
      background-color: $bleuPale;
    }
    &--orange {
      background-color: $orange;
    }
    &--bleuFonce {
      background-color: $bleuFonce;
    }
  }
  &__details {
    font-size: 0.75em;
  }
}